<section id="nosotros">

  <div class="container px-lg-5">
    <div class="row g-5">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="section-title position-relative mb-4 pb-2">
          <h6 class="position-relative text-primary ps-4">
            Sobre nosotros
          </h6>
          <h2 class="mt-2">¿Por qué elegirnos?</h2>
        </div>
        <p class="mb-4">
          En Efby, nos dedicamos a ofrecer soluciones tecnológicas
          integrales, creando aplicaciones a la medida de nuestros
          clientes. Nuestro enfoque se basa en tres pilares fundamentales:
        </p>

        <div class="row g-3">
          <div class="col-sm-6">
            <h6 class="mb-3">
              <i class="fa fa-check text-primary me-2"></i>Adaptabilidad
            </h6>
            <h6 class="mb-0">
              <i class="fa fa-check text-primary me-2"></i>Innovación
            </h6>
          </div>
          <div class="col-sm-6">
            <h6 class="mb-3">
              <i class="fa fa-check text-primary me-2"></i>Asesoramiento
              Integral
            </h6>
          </div>
        </div>
        <div class="d-flex align-items-center mt-4">
          <!-- <a class="btn btn-primary rounded-pill px-4 me-3" href="" >Read More</a> -->
          <!-- <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a> -->
          <!-- <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a> -->
          <a class="btn btn-outline-primary btn-square me-3" href=""
            ><i class="fab fa-instagram"></i
          ></a>
          <a class="btn btn-outline-primary btn-square" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid"
          data-aos="zoom-in"
          data-aos-delay="50"
          src="./../../../assets/img/about.jpg"
        />
      </div>
    </div>
  </div>

</section>
