     <!-- Team Start -->
      <section id="team">

        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-5 pb-2" data-aos="fade-up" data-aos-delay="100">
                    <h6 class="position-relative d-inline text-primary ps-4">Nuestro Equipo</h6>
                    <h2 class="mt-2">Conozca algunos miembros de nuestro equipo</h2>
                </div>
                <div class="row g-4" >
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-item">
                            <div class="d-flex">
                                 <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 50px;">
                                    <!-- <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a> -->
                                </div>
                                <img class="img-fluid rounded w-100" src="./../../../assets/img/teams/raul.jpg" alt="" style="height: 400px; width: 400px;">
                            </div>
                            <div class="px-4 py-3">
                                <h5 class="fw-bold m-0">Raul Rodriguez</h5>
                                <small>CEO</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="team-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 50px;">
                                    <!-- <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a> -->
                                </div>
                                <img class="img-fluid rounded w-100" src="./../../../assets/img/teams/josue.jpeg" alt="" style="height: 400px; width: 400px;">
                            </div>
                            <div class="px-4 py-3">
                                <h5 class="fw-bold m-0">Josue Vera</h5>
                                <small>Jefe Chico</small>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                                <img class="img-fluid rounded w-100" src="img/team-3.jpg" alt="">
                            </div>
                            <div class="px-4 py-3">
                                <h5 class="fw-bold m-0">Hector Vargas</h5>
                                <small>Desarrollador</small>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                                <img class="img-fluid rounded w-100" src="img/team-3.jpg" alt="">
                            </div>
                            <div class="px-4 py-3">
                                <h5 class="fw-bold m-0">Rodolfo</h5>
                                <small>Desarrollador</small>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1000">
                        <div class="team-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 50px;">
                                    <!-- <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square text-primary bg-white my-1" href=""><i class="fab fa-linkedin-in"></i></a> -->
                                </div>
                                <img class="img-fluid rounded w-100" src="./../../../assets/img/teams/ronaldo.jpeg" alt="" style="height: 400px; width: 400px;">
                            </div>
                            <div class="px-4 py-3">
                                <h5 class="fw-bold m-0">Ronaldo Vera</h5>
                                <small>Tecnico Infortmatico</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </section>
    <!-- Team End -->
